<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/login.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/styleVogais.css">

    <script defer src="./js/login.js"></script>

    <title>Jogo da Memória | Login</title>


</head>
<body>
	<div class="menuVogais">
		<button class="btn bgcolor6" onclick="location.href='../jogo-A.html'">Voltar</button>
	</div>
    
    <form class="login-form">
        <div class="login__header">
            <img src="../img/logo.png" alt="brain icon">
            <h1><b id="red">Jogo</b> <b id="green">da</b> <b id="blue">Memória</b></h1>
        </div>

        <input type="text" placeholder="Nome" class="login__input">
        <button type="submit" class="login__button" disabled>Jogar</button>
    </form>
    
</body>
</html>