<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../../img/favicon.ico">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/game.css">
    <link rel="stylesheet" href="../../css/styleVogais.css">
    <link rel="stylesheet" href="../../css/style.css">

    <script defer src="../js/game.js"></script>

    <title>Jogo da Memória</title>
</head>
<body>
    <img id="fundo" src="../../img/MicrosoftTeams-image.png">
    <main>
        <div class="row rowBtn">
            <button class="bgcolor6 btn" onclick="location.href='../logar.html'">Voltar</button>
        </div>
        <header>
            <span class="player"></span>
            <span>Tempo: <span class="timer"></span></span>
        </header>
    
        <div class="grid"></div>

    </main>
    
</body>
</html>