<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="./css/styleVogais.css">
	<link rel="stylesheet" type="text/css" href="./css/style.css">
	<link rel="icon" type="image/x-icon" href="./img/favicon.ico">


	<title>Primeiros Sinais - Vogais</title>
</head>

<body id="body-Vogais">
	<div id="principalVisible">
		<!-- ========================= MENU ========================= -->
		<div class="menuVogais">
			<button class="btn bgcolor6" onclick="location.href='../index.html'">Voltar</button>
		</div>
		<!-- ======================= FIM MENU ======================= -->

		<div class="principalVogais">
			<div class="vogais">
				<div id="a">
					<img src="./img/Novo-Projeto-A.png" onclick="location.href='jogo-A.html'">
				</div>

				<div id="o">
					<div class="tip">
						<div class="grayColor">
							<img class="imgGray" src="./img/Novo-Projeto-O.png">
							<img class="cadeado" src="./img/cadeado.png">

							<span class="bgcolor7">Jogo indisponível no momento</span>
						</div>
					</div>
				</div>

				<div id="e">
					<div class="tip">
						<div class="grayColor">
							<img class="imgGray" src="./img/Novo-Projeto-E.png">
							<img class="cadeado" src="./img/cadeado.png">

							<span class="bgcolor7">Jogo indisponível no momento</span>
						</div>
					</div>
				</div>

				<div id="u">
					<div class="tip">
						<div class="grayColor">
							<img class="imgGray" src="./img/Novo-Projeto-U.png">
							<img class="cadeado" src="./img/cadeado.png">

							<span class="bgcolor7">Jogo indisponível no momento</span>
						</div>
					</div>
				</div>

				<div id="i">
					<div class="tip">
						<div class="grayColor">
							<img class="imgGray" src="./img/Novo-Projeto-I.png">
							<img class="cadeado" src="./img/cadeado.png">

							<span class="bgcolor7">Jogo indisponível no momento</span>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>


	<!-- ===================== DIV INDISPONÍVEL ===================== -->
	<div id="notVisible">
		<div class="imgNot">
			<img src="./img/logoAraraTriste.png">
		</div>

		<div class="titleNot">
			<h2>
				<p class="color1">O</p>
				<p class="color2">o</p>
				<p class="color3">p</p>
				<p class="color4">s</p>
				<p class="color5">!</p>
			</h2>
		</div>
		<div class="txtNot">
			<p> Parece que esta página não é compativel com seu dispositivo </p>
		</div>
	</div>
	<!-- =================== FIM DIV INDISPONÍVEL =================== -->
</body>

</html>